exportClasses(nwsServer, netWorkSpace, sleigh, sleighPending)


# netWorkSpace class
exportMethods(nwsClose, nwsDeclare, nwsDeleteVar, 
              nwsFetch, nwsFetchTry, nwsFind, nwsFindTry, 
              nwsListVars, nwsStore, nwsWsName, nwsVariable)

# nwsServer class
exportMethods(nwsListWss, nwsMktempWs, nwsOpenWs, 
              nwsUseWs, nwsDeleteWs, nwsListWss)

# sleigh class
exportMethods(eachWorker, eachElem, stopSleigh, rankCount, workerCount)

# sleighPending class
exportMethods(checkSleigh, waitSleigh)

# functions used internally, therefore not exported
# all functions defined in sleigh.internal.R
# export(addWorker, storeTask, getElement, countElement,
#        blendOptions, enquote, docall)

export(nwsServer, netWorkSpace, close, launch, cmdLaunch, sshcmd, lsfcmd, rshcmd,
       ccscmd, envcmd, scriptcmd, sleigh, workerLoop, initialize)
